{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      // 热加载，在打包时需要注释掉
      /*"presets": [
        "react-hmre"
      ]*/
    }
  }
}